/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


:root {
    --primary: #A5C882;
    --secondary: #D33F49;
    --light: #FFF;
    --dark: #000;
    --disabled: #E7E7E7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: var(--disabled);
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    width: 80vw;
    min-width: 400px;
    max-width: 600px;
    height: 80%;
    background-color: var(--light);
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-left {
    display: flex;
    align-items: center;
}

.date-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#date-text {
    margin-bottom: 5px;
}

.hour {
    display: flex;
    gap: 5px;
}

#date-day {
    font-size: 50px;
}

#date-text {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#date-day,
#date-month,
#date-text,
.hour>span {
    font-weight: bold;
}

#date-month,
#date-year {
    margin-left: 7px;
    font-size: 18px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

input {
    border: none;
    height: 35px;
    padding: 10px;
    background-color: var(--disabled);
}

input:focus {
    outline: none;
}

.addTaskBtn,
.orderBtn {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskBtn {
    background-color: var(--disabled);
    color: var(--dark)
}

.orderBtn {
    background-color: var(--secondary);
    color: var(--light)
}

.task {
    background-color: var(--primary);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.i-done {
    color: var(--dark);
    margin-right: 15px;
}

.i-eliminate {
    color: var(--secondary);
}

.done {
    background-color: var(--disabled);
    text-decoration: line-through;
    color: var(--dark);
}