/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*:first-letter {
    text-transform: capitalize;
}

:root {
    /* Palette */
    --primary: #264653;
    --secondary: #2A9D8F;
    --terciary: #E9C46A;
    --forth: #f4A261;
    --fifth: #E76F51;
    --light: #FFFFFF;
    --dark: #000000;
    --disabled: #e7e7e7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: var(--disabled);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}

.roundBorder {
    border-radius: 5px;
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Main Container */
.list {
    margin: 25px auto;
    padding: 25px;
    width: 80vw;
    min-width: 320px;
    max-width: 600px;
    height: 80%;
    background-color: var(--light);
}

/* Date */
.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-left {
    display: flex;
    align-items: center;
}

.date-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hour {
    display: flex;
    gap: 5px;
}

#date-text {
    margin-bottom: 5px;
}

#date-day {
    font-size: 50px;
}

#date-text {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#date-day,
#date-month,
#date-text,
.hour>span {
    font-weight: bold;
}

#date-month,
#date-year {
    margin-left: 7px;
    font-size: 18px;
}

/* Input */
form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

input {
    border: none;
    height: 35px;
    padding: 10px;
    background-color: var(--disabled);
}

input:focus {
    outline: none;
}

.addTaskBtn,
.orderBtn {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskBtn {
    background-color: var(--primary);
    color: var(--light)
}

.orderBtn {
    background-color: var(--secondary);
    color: var(--light)
}

.addTaskBtn:hover,
.orderBtn:hover {
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.12) 0px 1px 2px;
    transition: all ease-in-out 0.2s;
}

/* Tasks Container */
#tasks {
    width: 100%;
    max-height: 385px;
    margin: 10px 0;
    overflow-y: auto;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 15px;
    margin-top: 15px;
    min-height: 50px;

    background-color: var(--terciary);
    color: var(--primary);
    cursor: pointer;
}

.task:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.12) 0px 1px 2px;
    transition: all ease-in 0.2s;
}

.task p {
    max-width: 80%;
    inline-size: 350px;
    word-wrap: break-word;
    outline: 0;
    cursor: default;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.i-done {
    color: var(--secondary);
    margin-right: 15px;
}

.i-eliminate {
    color: var(--fifth);
}

.i-done:hover,
.i-eliminate:hover {
    text-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.12) 0px 1px 2px;
    transition: all ease-in-out 0.2s;
}

.done {
    background-color: var(--disabled);
    color: var(--dark);
    opacity: 0.9;
    user-select: none;
}

.done p {
    text-decoration: line-through;
    opacity: 0.5;
}

.editing {
    color: var(--secondary);
    opacity: 0.7;
    outline: 0;
    user-select: text;
}

/* Media Queries */

/* Mobile */
@media screen and (max-width:767px) and (orientation:portrait) {
    .list {
        height: 100vh;
        width: 100vw;
    }

    div.list.roundBorder {
        border-radius: 0px;
    }

    #tasks {
        max-height: 475px;
    }

    #date-day {
        font-size: 50px;
    }

    #date-month,
    #date-year {
        margin-left: 7px;
        font-size: 18px;
    }

    #title {
        display: none;
    }

    #btn-task span,
    #btn-order span {
        display: none;
    }

    #btn-task i,
    #btn-order i {
        font-size: 16px;
        font-weight: bold;
    }
}

@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    .list {
        height: 100vh;
        width: 100vw;
    }

    div.list.roundBorder {
        border-radius: 0px;
    }

    #tasks {
        max-height: 200px;
    }
}


/* Tablet */
@media screen and (max-width:1024px) and (orientation:portrait) {
    #tasks {
        max-height: 80%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    .list {
        height: 100vh;
        width: 100vw;
    }

    div.list.roundBorder {
        border-radius: 0px;
    }

    #tasks {
        max-height: 65%;
    }
}


/* Laptops and Desktops */
@media screen and (min-width:1024px) {
    #tasks {
        max-height: 75%;
    }
}