* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-gutter: auto;
}

::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbars */
    height: 12px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header h1 {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 320px;
    padding: 20px;
    background-color: aqua;
}

input[type=number] {
    margin: 10px auto;
    padding: 5px;
    border: none;
}

input[type=submit] {
    background-color: yellow;
    padding: 10px;
    border: none;
}

input:hover {
    background-color: red;
}

#fizzbuzz {
    border: 3px solid black;
    text-align: center;
    padding: 15px;

    height: 50vh;
    width: 80vw;
    max-width: 320px;
    overflow-y: auto;
}